{% extends "base.html.twig" %}

{% block body %}
    <!-- Our menu -->
    <section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
        <div class="container">
            <div class="title-section-ourmenu t-center m-b-22">
				<span class="tit2 t-center">
					Découvrez
				</span>

                <h3 class="tit5 t-center m-t-2">
                    Notre carte
                </h3>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Item our menu -->
                            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                                <img src="{{ asset('assets/images/our-menu-01.jpg') }}" alt="IMG-MENU">

                                <!-- Button2 -->
                                <a href="{{ path('bateau_alcools') }}" class="btn2 flex-c-m txt5 ab-c-m size4">
                                    Nos alcools
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- Item our menu -->
                            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                                <img src="{{ asset('assets/images/our-menu-05.jpg') }}" alt="IMG-MENU">

                                <!-- Button2 -->
                                <a href="{{ path('bateau_cocktails') }}" class="btn2 flex-c-m txt5 ab-c-m size5">
                                    Nos Cocktails
                                </a>
                            </div>
                        </div>

                        <div class="col-12">
                            <!-- Item our menu -->
                            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                                <img src="{{ asset('assets/images/our-menu-13.jpg') }}" alt="IMG-MENU">

                                <!-- Button2 -->
                                <a href="{{ path('bateau_rums') }}" class="btn2 flex-c-m txt5 ab-c-m size6">
                                    Nos Rhums Arrangés
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <!-- Item our menu -->
                            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                                <img src="{{ asset('assets/images/our-menu-08.jpg') }}" alt="IMG-MENU">

                                <!-- Button2 -->
                                <a href="{{ path('bateau_wines') }}" class="btn2 flex-c-m txt5 ab-c-m size7">
                                    Nos Vins
                                </a>
                            </div>
                        </div>

                        <div class="col-12">
                            <!-- Item our menu -->
                            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                                <img src="{{ asset('assets/images/our-menu-10.jpg') }}" alt="IMG-MENU">

                                <!-- Button2 -->
                                <a href="{{ path('bateau_draftbeers') }}" class="btn2 flex-c-m txt5 ab-c-m size8">
                                    Nos Bières Pressions
                                </a>
                            </div>
                        </div>

                        <div class="col-12">
                            <!-- Item our menu -->
                            <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                                <img src="{{ asset('assets/images/our-menu-16.jpg') }}" alt="IMG-MENU">

                                <!-- Button2 -->
                                <a href="{{ path('bateau_foods') }}" class="btn2 flex-c-m txt5 ab-c-m size9">
                                    Une petite faim ?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}